<html>
<body>
<head>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<h1>Modules to check:</h1>

<ul>
	<li><a href="http://scm01all:5001/versions">Check Application version</a></li>
	<li><a href="http://scm01all:5001/tomcats">Check Tomcat version</a></li>
	<li><a href="http://scm01all:5001/java">Check JAVA version</a></li>
	<li><a href="http://scm01all:5001/json">All apps version - JSON</a></li>
	<li><a href="http://scm01all:5001/all">All info on one page</a></li>

</ul>

</body>
</html>
